a {
    text-decoration: none;
    color: rgb(83, 39, 4);
}
.top_row {
    display: flex;
    align-items: center;
}
.hdlogo {
    flex: none;
    display: flex;
    align-items: center;
}
.logo_pic {
    flex: none;
    width: 50px;
    height: 50px;
}
.logo {
    flex: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5px;
    text-align: center;
    color: rgb(83, 39, 4);
}
.hdmenu {
    flex: auto;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}
.menu_item {
    flex: none;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 235, 210);
}
.mouseover_menu_item {
    flex: none;
    width: 90px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 215, 166);

}
.background_pic {
    width: 100%;
}
.flowers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flower_des {
    flex: none;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(255, 250, 250);
}
.flower_pic {
    width: 270px;
    height: 270px;
    border-radius: 5px;
}
.footer {
    display: flex;
    align-items: center;
}
.footer_text {
    flex: none;
    margin-left: 100px;
}
.footer_menu {
    flex: auto;
    display: flex;
    justify-content: end;
    margin-right: 100px;
}
.footer_item {
    flex: none;
    width: 30px;
    height: 30px;
    margin: 3px;
}

@media (max-width:1280px){
    .top_row {
        display: block;
    }
    .hdlogo {
        justify-content: center;
    }
    .hdmenu {
        flex: none;
        justify-content: center;
    }
    .footer {
        justify-content: center;
    }
    .footer_menu {
        flex: none;
    }
}
@media (max-width:500px){
    .hdmenu {
        flex-wrap: wrap;
        height: auto;
    }
    .menu_item {
        width: 260px;
        margin: 5px;
    }
    .mouseover_menu_item {
        width: 260px;
        margin: 5px;
    }
    .footer {
        display: block;
        text-align: center;
    }
    .footer_text {
        margin-left: unset;
        margin: 20px;
    }
    .footer_menu {
        margin-right: unset;
        justify-content: center;
        margin: 20px;
    }
}
